body {
    margin: 0;
    font-family: 
 
}
.responsive
{
    width: 100%;
    height: auto;
}
.container-fluid
{
    padding: 0;
}

.innermob
{
    position: absolute;
    top:0; 
    left:42%;
    text-align:center;
}

.fm
{
    margin: 25px;
}
.btn
{
    width: 100%;
}

.innerdesk
{
    padding-left: 50px;
    padding-top: 100px;
}
.bg
{
    background-image: url('NIMT images/10505@2x.png');
    background-size: 100% 100%;
    width: 100%;
    height: 620px;
   padding: 0;
}

.form
{
    width: 400px;
    background-color: white;
    float: right;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 20px;
    top: 40%;;
}

.fo
{
    width: 420px;
    max-height: 450px;
    background-color: white;
    float: right;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 20px;
    top: 40%;;
}

.box{
    position: relative;
    max-width: 450px;
    padding: 20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.5);
    overflow: hidden;
    background-color: #0005;
    color: white;
    height: 180px;
    
    }
    
    
    .box h1{
    position: relative;
    margin: 0 0 20px;
    padding: 0;
    font-size: 35px;
    z-index: 2;
    }
    .box p{
    position: relative;
    margin: 0 0 20px;
    padding: 0;
    font-size: 18;
    z-index: 2;
    }


      .nav-link {
        color: grey;
         font-size: 18px;
         width: 100%;
         
       }
       .nav-item
       {
         padding-left: 170px;
         padding-right: 100px;
       }

       

.nv 
{
    background-color: white;
    border-bottom: 4px solid #cad0d3;
    font-size: 16px;
    text-decoration: none;
    color: #607d8b;
}



.nv :hover
{
    background-color: rgba(215, 242, 255, 0.993);
    color: #0093eb;
}

.fa-check-circle
{
    color: #0093eb;
    padding-right: 10px;
}

.required
{
    color: red;
}
.list
{
    padding-bottom: 7px;
    color:rgba(65, 78, 87, 0.863);
}

.cl 
{
    padding: 0;
    margin: 0;
}

.bt 
{
    background-color: white;
    color: #0093eb;
    border: white;
    height: 30px;
    width: 100px;
}





.text-color
{
    color: rgba(65, 78, 87, 0.863);;
}

.cd
{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.footer{
    background-color: whitesmoke;
    margin: none;
    padding-top: 10px;
    padding-bottom: none;
    color: gray;
    font-size: 12px;
    align-self: center;
}
.copyright{
padding-top: 11px;
}

.powered-logo{
height: 35%;
width: 35%;
}	

.fa-linkedin{
color: rgb(90, 86, 86);
}

.fa-facebook{
color:rgb(90, 86, 86);
}

.fa-youtube{
color:rgb(90, 86, 86);
}
.fa-twitter{
color:rgb(90, 86, 86);
}
.fa-instagram{
color:rgb(90, 86, 86);
}	

.fab 
{
    padding: 10px;
}

.ct 
{
    border-left: 1px solid #cad0d3;
}

.hospitals{
	margin-left: 200px;
	margin-right: 200px;
}

.fa-map-marker-alt
{
    margin-right: 5px;
}